thead {
    background-color: rgb(236, 231, 231);
}
.one {
    min-width: 2rem;
    max-width: 2rem;
  }
  
  .two {
  min-width: 6rem;
  max-width: 6rem;
  }
  .three {
    min-width: 6rem;
    max-width: 6rem;
  
  }
  .four{
    min-width: 3rem;
    max-width: 3rem;
  
  }
  
  .five {
    min-width: 38rem;
    max-width: 38rem;
  }
  
  .six {
    min-width: 4rem;
    max-width: 4rem;
  }
  
  .seven{
    min-width: 4rem;
    max-width: 4rem;
  }
  
  .eight {
    min-width: 5rem;
    max-width: 5rem;
  }
  
  .nine {
    width:1rem;
  }
  
  .eight-1 {
    min-width: 3rem;
    max-width: 3rem;
  }
  
  
  .five-1 {
    min-width: 2rem;
    max-width: 2rem;
  }
  .nine-nine {
    min-width: 3rem;
    max-width: 3rem;
  }
  /* .five-2 {
    min-width: none;
    max-width: 5rem;
  } */
  .six-1 {
    max-width: 5rem;
    min-width: 5rem;
  }
  